@font-face {
	font-family: "Konstruktor";
	src: url("font/konstruktor.otf");
}

@font-face {
	font-family: "Harting";
	src: url("font/harting.ttf");
}

#logo {
	height: 12vw;
	float: left;
}

#topBar {
	width: 100%;
	height: 12vw;
	border-bottom: solid;
	border-bottom-width: 1vh;
	border-bottom-color: #f01e28;
	background-color: rgb(20, 20, 20);
}

#title {
	font-family: "Konstruktor";
	text-align: center;
	font-size: 6.8vw;
	color: #f01e28;
	margin: 0;
	padding-top: 0.2em;
	
}

body {
	width: 100%;
	margin: 0;
	height: 100%;
	background-color: rgb(20, 20, 20);
}

#page {
	width: 100%;
	height: 100%;
}

p {
	color: white;
	font-size: 3vh;
}

a {
	color: goldenrod;
	font-size: 3vh;
	text-decoration: none;
}

a:hover {
	text-decoration: underline goldenrod solid 0.2em;
}

.menuItems {
	display: inline-block;
	padding: 10px 30px;
	background-color: rgb(120, 0, 0);
}

.menuItems:hover {
	background-color: rgb(20, 20, 20);
}

#selItem {
	display: inline-block;
	padding: 10px 20px;
	background-color: rgb(20, 20, 20);
}

#articleTitle {
	color: white;
}

#content {
	width: 86%;
	max-width: 1200px;
	min-width: 520px;
	margin-left: 2%;
}

#articlePicture {
	height: 20em;
}

i {
	color: white;
	font-size: 3vh;
}

#bottomBar {
	width: 96%;
	margin-left: 2%;
	border-top-style: solid;
	border-top-width: medium;
	border-top-color: #f01e28;
	margin-top: 2%;
	margin-bottom: 2%;
}

h3 {
	color: white;
}

div {
	color: white;
}

.preview {
	display: grid;
	column-gap: 1%;
	border: solid;
	border-color: rgb(20, 20, 20);
	border-width: thick;
}

.preview:hover {
	border-color: #f01e28;
}

.prevPicture {
	width: 20em;
	grid-column-start: 1;
	grid-column-end: 2;
}

.prevText {
	grid-column-start: 2;
	grid-column-end: 4;
	margin-top: -1.8em;
	justify-self: start;
}

h2 {
	font-size: 4.4vh;
}

#bottomLinks {
	border: none;
	width: 100%;
	padding-top: 10px;
}

.bottomLink {
	width: 20%;
	color: #f01e28;
	text-align: center;
	border: solid;
	border-width: medium;
	border-color: rgb(20, 20, 20);
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	transition: 0.4s;
}

.bottomLink:hover {
	border-color: #f01e28;
	transition: 0.4s;
}

h1 {
	color: white;
	font-size: 4.8vh;
}

span {
	color: white;
	font-size: 3vh;
}

summary {
	font-size: 3.6vh;
}

#redText {
	font-family: "Harting";
}

#redPic {
	transform: rotate(18deg);
	position: absolute;
	right: 8vw;
	top: calc(68vh - 14vw);
}

.libro {
	display: grid;
	column-gap: 4%;
	margin-top: 1em;
}

.fotoLibro {
	width: 14em;
	grid-column-start: 1;
	grid-column-end: 2;
	margin-top: 1em;
}

.textLibro {
	grid-column-start: 2;
	grid-column-end: 4;
	justify-self: start;
}

td {
	font-size: 3vh;
}